<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhongxin.mapper.UserauthorityrelationMapper" >
  <resultMap id="BaseResultMap" type="com.zhongxin.pojo.Userauthorityrelation" >
    <id column="user_role_relation_id" property="userRoleRelationId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="authority_id" property="authorityId" jdbcType="BIGINT" />
    <result column="right_type" property="rightType" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_role_relation_id, user_id, authority_id, right_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhongxin.pojo.UserauthorityrelationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from userauthorityrelation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from userauthorityrelation
    where user_role_relation_id = #{userRoleRelationId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from userauthorityrelation
    where user_role_relation_id = #{userRoleRelationId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhongxin.pojo.UserauthorityrelationExample" >
    delete from userauthorityrelation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhongxin.pojo.Userauthorityrelation" >
    insert into userauthorityrelation (user_role_relation_id, user_id, authority_id, 
      right_type)
    values (#{userRoleRelationId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{authorityId,jdbcType=BIGINT}, 
      #{rightType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zhongxin.pojo.Userauthorityrelation" >
    insert into userauthorityrelation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userRoleRelationId != null" >
        user_role_relation_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="authorityId != null" >
        authority_id,
      </if>
      <if test="rightType != null" >
        right_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userRoleRelationId != null" >
        #{userRoleRelationId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="authorityId != null" >
        #{authorityId,jdbcType=BIGINT},
      </if>
      <if test="rightType != null" >
        #{rightType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhongxin.pojo.UserauthorityrelationExample" resultType="java.lang.Integer" >
    select count(*) from userauthorityrelation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update userauthorityrelation
    <set >
      <if test="record.userRoleRelationId != null" >
        user_role_relation_id = #{record.userRoleRelationId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.authorityId != null" >
        authority_id = #{record.authorityId,jdbcType=BIGINT},
      </if>
      <if test="record.rightType != null" >
        right_type = #{record.rightType,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update userauthorityrelation
    set user_role_relation_id = #{record.userRoleRelationId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      authority_id = #{record.authorityId,jdbcType=BIGINT},
      right_type = #{record.rightType,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhongxin.pojo.Userauthorityrelation" >
    update userauthorityrelation
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="authorityId != null" >
        authority_id = #{authorityId,jdbcType=BIGINT},
      </if>
      <if test="rightType != null" >
        right_type = #{rightType,jdbcType=INTEGER},
      </if>
    </set>
    where user_role_relation_id = #{userRoleRelationId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhongxin.pojo.Userauthorityrelation" >
    update userauthorityrelation
    set user_id = #{userId,jdbcType=BIGINT},
      authority_id = #{authorityId,jdbcType=BIGINT},
      right_type = #{rightType,jdbcType=INTEGER}
    where user_role_relation_id = #{userRoleRelationId,jdbcType=BIGINT}
  </update>
</mapper>